.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31px / 26px);
  letter-spacing: 0.03em;
  color: $color-accent;

  &--header {
    margin-right: 93px;
  }

  &--footer {
    margin-bottom: 20px;
  }
}

.logo__page-header {
  color: $color-txt-alternative-invers;
}

.logo__page-footer {
  color: $color-txt-alternative;
}
