.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $bg-color-footer;
}

.page-footer__wraper {
  display: flex;
}

.page-footer__info {
  width: 231px;
  margin-right: 70px;
}

.address {
}
.address__text {
}
.address__list {
}
.address__item {
}
.address__link {
}

.page-footer__join {
  margin-right: 93px;
  padding-top: 12px;
}

.join__title {
  margin-bottom: 20px;
}

.page-footer__subscribe {
}
.subscribe__title {
  margin-bottom: 20px;
}

.subscribe__form {
}
.subscribe__box {
}
.subscribe__label-email {
}
.subscribe__email {
}
.subscribe__btn {
}
.subscribe__icon {
}
